<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @events_upcoming.each do |event| %>
      <tr>
	<td><%= link_to event.title, event %></td>
	<td><%= time_tag event.start_time, :format=>'%l:%M %p' %> - <%= time_tag event.end_time, :format=>'%l:%M %p' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
