<h1>Welome <%= current_user.name %></h1>

<div class="row">
  <div class="span4">
    <h3>Events Today</h3>
    <% if !@events_today.blank? %>
      <%= render :partial => "events_today" %>
    <% else %>
      <p>No events today</p>
    <% end %>

  </div>

  <div class="span4">
    <h3>My Events</h3>
    <% if !@my_events.blank? %>
      <%= render :partial => "my_events" %>
    <% else -%>
      <p>No registered events</p>
    <% end -%>
  </div>

  <div class="span4">
    <h3>Birthdays</h3>
    <% if !@birthdays.blank? %>
      <%= render :partial => "birthdays" %>
    <% else -%>
      <p>No birthdays this month</p>
    <% end -%>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>My Stats</h3>
  </div>
  <div class="span4">
    <h3>Hour Leaders</h3>
  </div>
  <div class="span4">
    <h3>Tour Leaders</h3>
  </div>
</div>

