<div class="row about">
  <div class="span12">
    <h1 class="page-header">About the UTSA Ambassadors</h1>
    <p>Established in 1988, the UTSA Ambassador Program consists of a select group of 60+ student leaders. UTSA Ambassadors act as student hosts at campus events, university sponsored conferences, and community and alumni functions. Committed to service, leadership, and integrity, the Ambassadors provide more than 5,000 service hours to the University community a year.

      For the 2011-2012 academic year, the Ambassadors provided 10,778 hours of service! You may have seen the Ambassadors in action on campus at the Fall Convocation, the Information Tables at the beginning of each semester, or giving campus tours for prospective students, parents, and other campus visitors.</p>

    <h2>Requirements</h2>
    <p>
      A candidate for the Ambassador program is a <strong>full-time student</strong> who has <strong>been at UTSA at least one long semester</strong> and has a <strong>minimum cumulative GPA of 3.00</strong>. Applicants should have <strong>at least one academic year remaining at UTSA</strong> to serve as an Ambassador. Excellent leadership and communication skills are also characteristics that we look for in potential Ambassadors. And, of course, students who have a willingness to learn about UTSA and have a sincere desire to represent the University should definitely apply!
    </p>

      <% if(true) %>
        <p>Applications for the <%= get_current_term() %> academic year are <a href="https://utsa.collegiatelink.net/organization/utsaambassadors">available</a>.  The deadline for application submissions is <%= print "Date" %>. Applications should be completed and submitted electronically during this period.</p>
      <% else %>
        <p>Applications for the <%= get_current_term() %> academic year are closed.</p>
      <% end %>
    <p>Are you a UTSA Freshman who wants to become involved? Come read about the <%= link_to "Ambassadors in Training", about_ait_path %>!</p>
  </div>
</div>
