<div class="row about">
  <div class="span12">
    <h1 class="page-header">About the UTSA Ambassadors In Training</h1>

    <p>Since 1988 the UTSA Ambassadors have served as the student hosts for the UTSA community, volunteering over 7,000 service hours in a year. Ambassadors are enthusiastic students with strong leadership and communication skills and are dedicated to representing their University. Ambassadors commit to 6 hours of service a month. Among other requirements, applicants must have completed a minimum of one semester at UTSA and have a minimum 2.75 GPA. Committed to service, leadership, and integrity, the Ambassadors provide more than 5000 service hours to the University community a year. You may have seen the Ambassadors in action on campus at the Fall Convocation, the Information Tables at the beginning of each semester, the Ring Ceremonies, or giving campus tours for prospective students, parents, and other campus visitors.</p>

    <h2>So What is the Ambassadors in Training Program?</h2>

    <p>The Ambassadors in Training Program is a program designed for Freshmen in their first semester at UTSA who want to become involved in their university through future service in the UTSA Ambassadors. Ambassador applicants must have completed at least one semester at UTSA to be eligible for selection. Because of this requirement, first semester Freshmen aren’t eligible to apply. We have created this Ambassadors in Training Program because WE DON’T WANT TO LOSE YOU!!!</p>

    <p>The Ambassadors in Training Program will present Freshmen with the opportunity to learn about the Ambassadors and what we do through participation in key Ambassador events, training and socials. The Program will stress the importance of proper time management and study skills while fostering communication skills and knowledge of UTSA.

    <p>Ambassadors in Training will be able to apply for the Ambassadors program in the Fall and Spring and participate in a modified application and interview process.</p>

    <p>The 2008 Inaugural Ambassadors in Training program was a huge success! The AITs were an invaluable component of the Ambassadors efforts this year and many of the AIT’s are now in key positions in the Ambassadors program! We are looking to expand our program for Fall 2007 and are looking for the next generation of UTSA’s leaders among the newest members of our UTSA community!</p>

    <h2>Ambassadors in Training Requirements</h2>

    <p>An applicant for the Ambassadors in Training program must be a Freshman at UTSA and have a minimum SAT score of 1030 or a minimum ACT score of 21 to apply. He/she must also express a desire to contribute to the University and a willingness to learn about UTSA and the Ambassadors program.</p>

    <h2>How Can I Apply?</h2>

    <p>Applications for the Fall 2013 Ambassadors in Training program will start in August 2013.</p>

    <p>Save The Date!!</p>

    <p>Visit the UTSA Ambassadors Interest Table at the Roadrunner Days Involvement Fair. Come meet current Ambassadors and former Ambassadors in Training while learning more about our AIT program!</p>
  </div>
</div>
