<div class="row about">
  <div class="span12">

<h1 class="page-header">Letter to Prospective Ambassadors in Training</h1>


	

<p>Dear Prospective Ambassador in Training,</p>

<p>Thank you for your interest in the Ambassadors in Training Program. The Ambassadors are very excited to continue this program into its fifth year! The inaugural year of the Ambassadors in Training was a huge success and we are looking forward to expanding and building our program with the 2012 Ambassadors in Training!</p

<p>Established in 1988, the UTSA Ambassador Program consists of a select group of 60+ student leaders. UTSA Ambassadors act as student hosts at campus events, university sponsored conferences, and community and alumni functions. Ambassadors in Training work along side the Ambassadors in key Ambassador events, training and socials. This interaction allows the Ambassadors in Training to learn about the role and responsibilities of the Ambassadors while also learning about the importance of proper time management and study skills while fostering communication skills and knowledge of UTSA.</p>

<p>Committed to service, leadership and integrity, the Ambassadors Program provides more than 7,000 service hours to the University community a year. You may have seen the Ambassadors in action on campus at the Fall Convocation.</p>
<p>AIT applications will be available next Fall semester.</p>

<p>Once again, thanks for your interest in our organization, and if you have any questions, please feel free to call the Ambassador’s Office at (210) 458-6110. We hope to meet you sometime soon!!</p>

<p>Sincerely,</p>

<p>Dr. Pat Graham<br />
Ambassador Advisor</p>

<p>Harrison Pierce<br />
2012-2013 Ambassador Coordinator</p>
