<div class="row about">
  <div class="span12">
    <h1 class="page-header">Letter to Prospective Ambassadors</h1>
    <p>Dear Prospective Ambassador,</p>
    
    <p>Thank you for your interest in the Ambassador program. Established in 1988, the UTSA Ambassador Program consists of a select group of 60+ student leaders. UTSA Ambassadors act as student hosts at campus events, university sponsored conferences, and community and alumni functions. If you have a willingness to learn about UTSA and have a sincere desire to represent the University, please consider applying to become an Ambassador.</p>

    <p>Committed to service, leadership and integrity, the Ambassadors provide more than 7000 service hours to the University community a year. You may have seen the Ambassadors in action on campus at the Fall Convocation, the Information Tables at the beginning of each semester, the Fall and Spring Commencement Ceremonies, or giving campus tours for prospective students, parents, and other campus visitors. Other annual Ambassador events include the Etiquette Dinner, the Amber Dinner, the Ambassador Banquet, and fall and spring retreats. Ambassador applications will be available next Spring semester.</p>

    <p>Once again, thanks for your interest in our organization, and if you have any questions, please feel free to call the Ambassador’s Office at (210) 458-6110. We hope to meet you sometime soon!!</p>

    <p>Sincerely,</p>

    <p>Dr. Patricia Graham<br />
      Ambassador Advisor</p>

    <p>Harrison Pierce<br />
      2012-2013 Ambassador Coordinator</p> 
  </div>
</div>
