<div class="hero-unit">
  <h1>UTSA Ambassadors</h1>
  <p id="tagline">
    Serving the UTSA community since 1988.
  </p>
  <div id="social">
    <div "span1 facebook">
      <a class="btn facebook-button" href="https://www.facebook.com/UTSA.Ambassadors">
	<i class="icon-thumbs-up"></i>
​	​<span>Facbook</span>
      </a>
    </div>
  </div>
</div>

<div class=​"row about">​
  <div class=​"span4">​
    <h3>​Easy to Install​</h3>​
  </div>​
</div>
