<% if @registrations.any? %>
  <ul>
  <% @registrations.each do |registration| %>
    <li class="text-<%= table_status(registration.registration_status.name) if registration%>">
      <%= registration.user.name if registration %>
    </li>
  <% end %>
  </ul>
<% else %>
None
<% end %>
