<% if @registrations.any? %>
  <ul class="list-group">
  <% @registrations.each do |registration| %>
    <li class="list-group-item list-group-item-<%= table_status(registration.registration_status.name) if registration%>">
      <%= link_to registration.user.name, registration.user if registration %>
      <% if can? :update, registration %>
        <span class="pull-right">
          <%= link_to "Edit", user_event_registration_path(registration.user, registration.event) if registration %>
        </span>
      <% end %>
    </li>
  <% end %>
  </ul>
<% else %>
None
<% end %>
