<h2>Users</h2>
<table class="table table-condensed">
  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
	<td>
	  <%= link_to registration.user.name, registration.user %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

